# MATLAB
*.asv
*.m~
*.mex*
*.mdl
*.slx
*.autosave
/*.fig
/*.mat
/*.mexw64

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp

# Dependencies / build
node_modules/
vendor/

# Logs
*.log

/result_v18/*.eps
/result_v18/*.fig
/result_v18/*.png
